* {
  margin: 0;
  padding: 0;

}

  
@media(max-width:600px){
 
    body{
  background-color:darkblue;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  }


nav ul{
  position: relative;
   width: 105vw;   
  height: 5rem;   
  background-color: #1a1a1a; 
  color: white;
  margin: 0px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
/* Hover effect */
nav ul li:hover {
  text-decoration: underline;
  color: purple;
  cursor: pointer;
}

 

  @media (max-width: 600px) {
  nav ul {
     width: 111%;             /* Full width of screen */
    height: auto;            /* Adjust height automatically */
    justify-content: space-around;
    padding: 1rem 5rem;    
    
    background-color: brown;
    flex-direction: row;     /* Row me items */
    font-size: 0.8rem;       /* Mobile ke liye chhota font */
    text-align: center;
    overflow-x: hidden;  

  }

  nav ul li:hover {
    background: #a0522d;      /* hover effect */
    cursor: pointer;
  }
}


 

/* .logo{
  background-color: black;
  font-size: 1rem;
  width: 5%;
  font-weight: bolder;
  position: relative;
  text-align: center;
  display: flex;
  top: -74px;
  border-radius: 1rem;
  left: 12px; 

} */

/* @media (max-width:600px){
 .logo {
  width: 2.4rem;
  left: 3rem;
  margin-top: 30px;
 
}
} */