* {
  margin: 0;

}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
   width: 100%;
  height: 4rem;
  justify-content: space-evenly;
  background-color: #666;
}
 nav ul li{
  color: white;
  cursor: pointer;
   width: 100%;
  font-size: 1rem;
  cursor: pointer;
 }


/* Hover effect directly on li */
nav ul li:hover {
  text-decoration: underline;
  color: purple;
  cursor: pointer;
}


nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: yellow;
  transition: width 0.3s;
}






.logo{
  color: brown;
  font-size: 1.2rem;
  font-weight: bolder;
  position: relative;
  text-align: center;
  display: none;

  

}




.icon{
  position: relative;
  display: flex;
  font-size: 1rem;
}

.cart-container {
  position: relative;
  display: inline-block;
  left: 75rem;
  top: -8.3rem;
  cursor: pointer;
}

.cart-container i {
  position: relative;
  font-size: 20px;
  color:red;
  bottom: -5rem;
  
}

.cart-dropdown {
  display: none; /* by default hidden */
  position: absolute;
  top: 450%; /* icon ke thoda niche */
  right: 0;
  background-color: #fff;
  padding: 25px;
  min-width: 250px;
  border-top:2px solid red;
  
  border-radius: 8px;
  box-shadow: 0px 6px 22px rgba(0,0,0,0.15);
  z-index: 1000;
}

.cart-dropdown h1 {
  font-size: 2rem;
  margin: 0 0 8px 0;
  color: #444;
}

.cart-dropdown p {
  font-size: 14px;
  color: #666;
  margin: 0;
  line-height: 1.4;
}

/* Hover effect */
.cart-container:hover .cart-dropdown {
  display: block;
  box-shadow: 0px 0px 12px darkgray,
              0px 0px 14px red,   
              2px 2px 15px green
} 
 
