* {
  margin: 0;
  padding: 0;

}

  @media (max-width:600px) {
   body{
    background: #0f172a;
    color: #ffffff;      
  }
}

nav ul{
   width: 105vw;   /* poore screen ka width */
  height: 5rem;   /* default height */
  background: #666;
  margin: 0px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
/* Hover effect */
nav ul li:hover {
  text-decoration: underline;
  color: purple;
  cursor: pointer;
}

 @media (max-width:600px) {
  nav ul{
    width: 500vw;
    height: 5rem;
    justify-content: space-around;
    padding: 2rem;
    color: white;
    background-color: brown;
    flex-direction: row;
    font-size: 3rem;
    padding-left: 29rem;
    text-align: center;

  }
} 

.logo{
  color: brown;
  font-size: 1.2rem;
  font-weight: bolder;
  position: relative;
  text-align: center;
  display: flex;
  top: -2rem;
  left: 12px; 

}

@media (max-width:600px){
 .logo {
  position: relative;
  color:pink;
  letter-spacing:5px;
  text-align: center;
  padding: 0px 3rem;
  margin: 0px 2rem;
 }
}

.container{
width: 90%;
  margin: 0 auto;
  height: 65vh;
  border-radius: 50%;

}
.mySwiper{
  height: 100% !important;
  width: 100% !important;
}

.slide1{
  background-image: url("../Afroz/Image11.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 100%;
}

.slide2{
  background-image: url("../Afroz/Image12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    background-size: contain;
    background-position: center;
  height: 100%;
  width: 100%;
}
.slide3{
  background-image: url("../Afroz/image13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
    background-size: contain;
  background-position: center;
}
.slide4{
  background-image: url("../Afroz/Image16.jpg");
   width: 80%;
   margin: 1rem 6rem;
   object-fit: cover;
   max-width: auto;
   background-size:cover;
   height: 100%;
}

.Swiper-slide img{
   width: 100%;
  position: relative;
  margin-bottom: -5rem;
 }
.swiper-pagination-bullets{
  margin: 0rem 2rem;
  padding: 1rem 2rem;
}

/* now responsive for container */
@media(max-width:600px){
  .container{
    width: 250%;
    margin-left: 260%;
    padding: 3rem 11rem;
  }
}

@media(max-width:600px){
  .slide1.slide2.slide3.slide4{
    width: 100%;
    padding: 1rem 2rem;
  }
}